/* Login.css */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  