h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  
  p {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
    
  }
  
  img {
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 20px;
    margin-bottom: 10px;
  }
  body{
    
    background: rgb(163, 100, 223);
    background: linear-gradient(90deg, rgba(164,108,215,1) 18%, rgba(96,33,163,1) 43%, rgba(81,27,199,1) 100%);
  }
  img {
    width: 155px; /* Set the width of the image */
    height: auto; /* Set the height of the image to adjust proportionally */
    margin: 10px; /* Add margin around the image */
    border: 1px solid #ccc; /* Add a border to the image */
    border-radius: 5px; /* Add a border radius to the image */
  }
    