nav {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(200,11,232,1) 100%);    display: flex;
    justify-content:flex-end;
    align-items: center;
    height:75px;
    padding: 6.5px;
    border-bottom: 3px solid #ccc; /* Change the border color and size to your desired style */

  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #aefafa;
    text-decoration:underline;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.1s ease-in-out;
    
  }
  
  nav a:hover {
    color: #e90839;
  }
  