.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .search-button:hover {
    background-color: #0069d9;
  }
  
  .search-icon {
    margin-right: 5px;
    
  }
  