@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Playfair+Display&family=Roboto:wght@100&display=swap');

/* About.css */
.about-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: rgba(44, 17, 79, 1);
  }
  
  .about-title, .title {
    display: flex;
    justify-content: center;
  }

  .about-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
  }
  
  .about-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-video {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    margin-bottom: 20px;
  }
  
  .about-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .about {
    font-family: 'Roboto', sans-serif;
  }