.card {
  margin: 0 auto;
  padding-left: 10px;
}

.card-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-subtitle {
  color: rgba(242, 78, 30, 1);
  font-weight: bold;
  margin-top: 20px;
}

.order-icon {
  font-size: 30px;
  margin: 10px;
}
.table_text{
  text-align: start;
  padding: unset;
  margin: unset;
}
.table_sub_text{
  opacity: .5;
  font-size: 16px;
}
.table_container{
  margin: 6rem;
}
.status_badge{
  background-color: rgb(218, 204, 235);
  font-weight: bold;
  padding: 8px;
  border-radius: 40px;
  font-size: 12px;
}
.action_icon{
  font-size: 22px;
  color: #141e30;
}
.action_icon_text{
  font-size: 14px;
  color: #141e30;
  padding: unset;
  margin: unset;
}
.action_icon_text:hover{
  cursor: pointer;
  text-decoration: underline;
}
.ms-3{
  margin-left: unset !important;
}