nav {
    margin: 0 auto;
    background: #141e30;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:75px;
    width: auto;
    padding: 6.5px;
    border-bottom: 3px solid #ccc; 
}
nav ul {
  display: flex; 
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: rgba(242, 78, 30, 1);
}

#login {
  margin-left: 50px;
}

#logo {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  margin-left: 0;
}