nav {
  background: #3d1266;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: rgb(240, 63, 10);
}

#login {
  margin-left: 50px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.logo-container {
  height: 50px; /* adjust height to fit your logo */
}

.logo-container img {
  height: 100%;
  max-width: 100%;
}
.navbar img {
  height: 74px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
  object-fit: contain;
  /* ensure the logo does not distort */
}
