
  footer {
    background-color: rgb(250, 246, 255);
    padding: 20px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 550;
  }
  
  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: rgba(242, 78, 30, 1);
    font-weight: 700;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-wrap: wrap;
    }
    
    .footer-section {
      flex-basis: 100%;
    }
  }
  