.card {
    display:block;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto;
    padding: 1rem;
    border: 1.5px solid #b113dd;
    border-radius: 10px;
    opacity: 0.8;
    
  }
  
  
  label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1.5px solid #a50ed3;
    border-radius: 5px;
    
  }
  
  h2 {
    width: 100%;
    margin-bottom: 1rem;
    background-color:#9f7eb9
  }

.main_container{
  display: flex;
  gap: 27px;
}

.map_container{
  display: flex;
  align-items: center;
  margin: 100px;
}

  