# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: myapp_test

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          cd frontend
          npm install

      - name: Build frontend
        run: |
          cd frontend
          npm run test a --if-present

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.4'

      - name: Install dependencies
        run: |
          cd backend
          bundle install --jobs 4 --retry 3

      - name: Run tests
        env:
          RAILS_ENV: test
        run: |
          cd backend
          bundle exec rails db:create db:migrate
          bundle exec rspec --if-present

  # jobs:
  #   test:
  #     runs-on: ubuntu-latest

  #     steps:
  #         - uses: actions/checkout@v2

  #         - name: Install dependencies
  #           run: |
  #             cd frontend
  #             npm install

  #         - name: Test frontend
  #           run: |
  #             cd frontend
  #             npm run test a
