form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  button {
    width: 100px;
    height: 30px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062a6;
  }
  
  a {
    color: #0074d9;
  }
  